body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#task-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#task-input input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#task-input button {
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#task-input button:hover {
    background-color: #2980b9;
}

.task {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border-radius: 4px;
}

.task .description {
    flex-grow: 1;
}

.task .status {
    margin-right: 10px;
    font-weight: bold;
}

.task .delete-btn {
    background-color: #e74c3c;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.task .delete-btn:hover {
    background-color: #c0392b;
}

/* Estilização do select */
#task-status {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    width: 200px;
}

/* Estilização das opções do select */
#task-status option {
    background-color: #fff;
    color: #333;
}

