/* Estilo geral */
body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/* Estilo das listas */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.project-list,
.filtered-projects {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
}

.project-list li,
.filtered-projects li {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f7f7f7;
}

.project-list li:hover,
.filtered-projects li:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* Estilo do select */
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Estilo das mensagens de erro */
.error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

/* Estilo dos botões */
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
