h1 {
    background-color: gray;
    height: 50px;
    width: 500px;
    margin: 0 auto 5px;
    text-align: center;
    line-height: 50px;
}

h2 {
    background-color: #7f6060;
    height: 50px;
    width: 500px;
    margin: 0 auto 5px;
    text-align: center;
    line-height: 50px;
}

.title{
    background-color: cornflowerblue;
    padding: 5px 15px;
    margin: 0 auto 5px;
}
#row {
    display: flex;
}
#row .inside {
    border: 1px solid black;
    background-color: #00000030;
    padding: 5px 15px;
    margin: 0 10px;
}
